body{
	margin: 0;
	padding: 0;
	background: url("istockphoto-969671388-612x612.jpg");
	background-size: 2000px 1500px;
	background-position: center;
	font-family: sans-serif;
}
.loginbox{
	width: 320px;
	height: 420px;
	background: transparent;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.loginbox h2{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 32px;
}
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox input[type="email"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.loginbox input[type="button"]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="button"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.loginbox a:hover{
	color: #ffc107;
}