body{
	font-family: sans-serif;
	background: url("74406fb51be50c48a41f32784e56e52a.jpg");
	background-repeat: no-repeat;
	background-size: 1630px 2000px;
}
.restaurant-menu{
	width: 1200px;
	margin: 100px auto;
}
.title{
	text-align: center;
	font-size: 36px;
	margin-bottom: 20px;
}
.title h4{
	text-transform: capitalize;
	font-size: 8px;
	position: relative;
	display: inline-block;
	padding-bottom: 10px;
	color: white;
}
.title h4 span{
	display: block;
	font-size: 72px;
	font-style: italic;
	margin-bottom: -10px;
}
.title h4:before{
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: black;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.restro-menu{
	display: flex;
	flex wrap: wrap;
	justify-content: space-between;
}
.menu{
	flex-basis: 580px;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid white;
}	
.menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 25px;
}
.menu:hover img{
	border-radius: 0;
}
.menu img{
	max-width: 180px;
	margin-right: 30px;
	border-radius: 50%;
	border: 1px solid white;
	padding: 3px;
	transition: 3s;
}
.menu h4{
	text-tranform: capitalize;
	font-size: 22px;
	border-bottom: 1px dashed white;
	margin-bottom: 10px;
	padding-bottom: 20px;
	color: white;
}
.menu h4 span{
	float: right;
	color: white;
	font-style: italic;
}
.menu p{
	color: white;
}