*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	font-family: sans-serif;
}
.content{
	min-height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("pexels-photo-3887985.jpeg") center/cover no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding-bottom: 20px;
}
.container{
	display: grid;
	grid-template-columns: 420px 420px;
}
.image{
	background: url("64029548.jpg&width=500&resizemode=4") center/cover no-repeat;
}
.content h2{
	padding-bottom: 40px;
	margin-bottom: 20px;
}
.card-content{
	background: darkgray;
	height: 330px;
}
.card-content h3{
	text-align: center;
	color: black;
	padding: 25px 0 10px 0;
	font-size: 26px;
	font-weight: 500;
}
.form-row{
	display: flex;
	width: 90%;
	margin: 0 auto;
}
form select, form input{
	display: block;
	width: 100%;
	margin: 15px 12px;
	padding: 5px;
	font-size: 15px;
	font-family: sans-serif;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	font-weight: 300;
}
form input[type=text], form input[type=number], form input::placeholder,select{
	color: black;
}
form input[type=submit]{
	color: white;
	background: black;
	padding: 12px 0;
	border-radius: 4px;
	cursor: pointer;
}
form input[type=submit]:hover{
	opacity: 0.9;
	color: white;
}