body{
	background-color: white;
	font-family: sans-serif;
}
.signup-box{
	width: 360px;
	height: 620px;
	margin: auto;
	background-color: white;
	border-radius: 3px;
}
h1{
	text-align: center;
	padding-top: 15px;
}
h4{
	text-align: center;
}
form{
	width: 300px;
	margin-left: 20px;
}
form label{
	display: flex;
	margin-top: 20px;
	font-size: 18px;
}
form input{
	width: 100%;
	padding: 10px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	outline: none;
}
input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	width: 44.5vh;
	background: darkgrey;
	color: black;
	font-size: 18px;
	border-radius: 5px;
}
input[type="submit"]:hover{
	cursor: pointer;
	background: darkgrey;
	color: #000;
}
p{
	text-align: center;
	padding-top: 20px;
	font-size: 15px;
}
.para-2{
	text-align: center;
	color: black;
	font-size: 15px;
	margin-top: -5px;
}
.para-2 a{
	color: #49c1a2;
}